<h1>Hi Energy Agency LLC</h1>
<p>Goal: Create a button that changes the home page background color when clicked.</p>
<body style=>
  <div>
    <button id="color-button">Change Background Color</button>
  </div>
</body>